// fonts
$font-landing-title: "Merriweather";
$font-secundary: "OpenSans";
$font-montserrat: "Montserrat";

// colors
$background-color-landing: #f5f5f5;

$color-title: #e17334;

$color-subtitle: #114e4e;

$color-link: #438792
