.more-info-main {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .more-info-main {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .card-section {
      order: 1;
    }
  }
}
