
footer{
    text-align: center;
    border-top:solid 1px #d4cece;
    background-color: white;
    height: 180px;
}

.awesome1{
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    opacity:1;
    color:#d4cece;
    font-size:14px;
    line-height:3.5; 
    opacity:1,5;
}
.image1{
    width:80px;
    
}
@media all and (min-width:768px) {
    footer {
        height: 120px;
       
    }
    .foot{
        display:flex;
        justify-content: space-between; 
        align-items: center;
        padding-top: 10px;
    }
    .awesome1{
        padding-left: 30px;
        margin:10px;
    }
    .container10{
        margin: none;
    }
    .image1{
        width: 80px;
        margin-right: 30px;
    }
}
@media all and (min-width: 1200px) {
    footer {
        height: 120px;
    }

    .foot{
        display:flex;
        justify-content: space-between; 
        padding-top: 10px;
        
    }
    .awesome1{
        padding-left: 30px;
        margin:10px;
    }
    .container10{
        margin:10px;
    }
    .image1{
        width: 80px;  
        
    }
}