
footer{
    text-align: center;
    border-top:solid 1px #d4cece;
    height: 25vh;
    background-color: white;
    
}
.awesome1{
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    opacity:1;
    color:#d4cece;
    font-size:14px;
    line-height:3.5; 
    opacity:1,5;
}
.image1{
    width:120px;
}
@media all and (min-width:768px) {
    footer{
        border-top:solid 1px #d4cece; 
    }
    .foot{
        display:flex;
        justify-content: space-between; 
        padding-top: 10px;
    }
    .awesome1{
        padding-left: 30px;
        margin:10px;
    }
    .container10{
        margin: 5px;
    }
    .image1{
        padding-left:5px;
        margin:9px;
    }
}
@media all and (min-width: 1200px) {
    footer{
        border-top:solid 1px #d4cece; 
    }
    .foot{
        display:flex;
        justify-content: space-between; 
        padding-top: 10px;
    }
    .awesome1{
        padding-left: 30px;
        margin:10px;
    }
    .container10{
        margin:10px;
    }
    .image1{
        margin:10px;
    }
}