
footer{
    text-align: center;
}
.awesome1{
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    opacity:0.8;
    color:#d4cece;
    font-size:14px;
    line-height:3.5; 
    opacity:1,5;
}
.image1{
    width:120px;
}