main {
    background-color: $background-color-landing;
    width: 100%;
}

.header-landing {
    img {
        width: 250px;
        height: 63px;
        margin: 50px;
    }
}

.text {
    padding: 50px;


    .title {
        color: $color-title;
    }
}
.iconos { 
    .fieldset__div_icon {
    color: $color-title;
}
    .fa-keyboard{
        color: $color-title;
    }
    .fa-share-nodes {
        color:$color-title;
    }
}