<section class="card-section">
 <div class="card-wrapper">
  <div class="button-element">
    <button class="button-element__button">
      <i class="fa-solid fa-trash"></i> RESET
    </button>
  </div>
<!-- traje elementos a (ancla) de target // la almohadilla se usa para que el enlace no te redirija a otra pagina--> 
  <div class="card">
    <div class="nav-card">
      <h1 class="nav-card__title js-card-name">Nombre Apellido</h1>
      <h2 class="nav-card__sub-title js-card-job">Front-end developer</h2>
    </div>

    <div class="section-image">
      <img class="imagen" src="/images/yesse.png" />
    </div>

    <div class="icons">
      <div class="icon">
        <a class=" js-card-telephone" href="#" target="_blank">
          <i class="fa-solid fa-mobile-screen-button"></i>
        </a>
      </div>

      <div class="icon js-icon-email">
        <a class=" js-card-email" href="#" target="_blank" title="">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </div>

      <div class="icon">
        <a class=" js-card-github" href="#" target="_blank" title="">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>

      <div class="icon">
        <a class=" js-card-linkedin" href="#" target="_blank" title="">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</section>

