<main>


    <form action="">
        <fieldset class="fieldset">
            <div class="fieldset__div">
                <i class="fa-regular fa-object-ungroup fieldset__div_icon"></i><h2 class="fieldset__div_title">DISEÑA</h2> 
            </div>
            <span>&#8249;</span>  
        </fieldset>
        <div class="colours">
            <p class="title-colours">COLORES</p>
            <label for="colours1" class="colours1">
                <input
                class="input" 
                id="colours1"
                type="radio"
                value="colours1"
                name="colours1">

                <div class="options">
                <div class="divcol col1__1"></div> 
                <div class="divcol col1__2"></div>
                <div class="divcol col1__3"></div>
                </div>
            </label>
          
        </div>
      </form>

</main>