<main>
    <section class="block-text">
        <h1 class="title-card">Crea tu tarjeta de visita</h1>
        <p class="subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </section>
    <section class="iconos">
        <div class="iconos__wrapper">
            <i class="fa-regular fa-object-ungroup fieldset__div_icon"></i>
            Diseña
        </div>
        <div class="iconos__wrapper">
            <i class="fa-regular fa-keyboard"></i>
            Rellena
        </div>
        <div class="iconos__wrapper">
            <i class="fa-sharp fa-solid fa-share-nodes"></i>
            Comparte
        </div>
    </section>
    <div class="actions">
        <a class="btn green" href="./more-info.html">COMENZAR</a>
    </div>
</main>