
<main>

<header class="header-landing">
    <div">
        <img src="/images/logo-awesome-profile-cards.svg" alt="logocard">
    </div>
</header>
    <section class="text">
        <h1 class="title">Crea tu tarjeta de visita</h1>
        <p>Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </section>
    <!-- <span class="iconos">
        <div>Diseña <i class="fa-sharp fa-light fa-object-ungroup" style="color: #e17334;"></i>
        </div>
        <div>Rellena <img src="img/teclado.png" alt="rellena">
        </div>
        <div>Comparte <img src="img/compartir.png" alt="comparte">
        </div>
    </span> -->
    <link class="linkstart" rel="stylesheet" href="" >

</main>