<header class="header-landing">
    <div class="logo">
        <img src="/images/logo-awesome-profile-cards.svg" alt="logocard">
    </div>
</header>
<main>
    <section>
        <h1>Crea tu tarjeta de visita</h1>
        <p>Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </section>
    <span class="retangle-links">
        <div>Diseña <i class="fa-sharp fa-light fa-object-ungroup" style="color: #e17334;"></i>
        </div>
        <div>Rellena <img src="img/teclado.png" alt="rellena">
        </div>
        <div>Comparte <img src="img/compartir.png" alt="comparte">
        </div>
    </span>
    <button>COMENZAR</button>
</main>