<section class="container-share">
  <fieldset class="fieldset">
    <div class="fieldset__main">
      <div class="fieldset__div">
        <i class="fa-solid fa-share-nodes fieldset__div_icon"></i>
        <h2 class="fieldset__div_title">COMPARTE</h2>
      </div>
      <button class="button-options js-button-arrow3">
        <i class="fa-solid fa-chevron-up"></i>
      </button>
    </div>

    <section class="share-wrapper js-dropdown3">
      <section class="">
        <button class="button-share" type="submit">
          <i class="button-share__image fa-regular fa-address-card"></i>
          <span>CREAR TARJETA</span>
        </button>
      </section>
      
      <section class="card-info hiden">
        <hr class="line" />
        <h3>La tarjeta ha sido creada:</h3>
        <a class="card-info__link" href="">Link</a>
        <button class="button-twitter">
          <i class="fa-brands fa-twitter"></i>
          <span> Compartir en Twitter</span>
        </button>
        <hr class="line" />
      </section>

    </section>
  </fieldset>
</section>
</form>
