<section class="container-share">
  <section class="">
    <button class="button-share">
      <i class="button-share__image fa-regular fa-address-card"></i>
      <span>CREAR TARJETA</span>
    </button>
  </section>
  <hr class="line" />
  <section class="card-info">
    <h3>La tarjeta ha sido creada:</h3>
    <a class="card-info__link" href="">Link</a>
    <button class="button-twitter">
      <i class="fa-brands fa-twitter"></i>
      <span> Compartir en Twitter</span>
    </button>
  </section>

  <hr class="line" />
</section>
