<section class="section">
  <div class="button-element">
    <button class="button-element__button">
      <img class="button-element__trash" src="/images/trash.svg" /> RESET
    </button>
  </div>

  <div class="card">
    <div class="nav-card">
      <h1 class="nav-card__title js-card-name">Nombre Apellido</h1>
      <h2 class="nav-card__sub-title js-card-job">Front-end developer</h2>
    </div>

    <div class="section-image">
      <img class="image" src="/images/yesse.png" />
    </div>

    <div class="icons">
      <div class="icon">
        <a class=" js-card-telephone"  href="http://"><img src="/images/mobile.svg" /></a>
      </div>
      
      <div class="icon">
        <a class="js-card-email"><img src="/images/email.svg" /></a>
      </div>

      <div class="icon ">
        <a class="js-card-github" href=""><img src="/images/github.svg" /></a>
      </div>

      <div class="icon ">
       <a class="js-card-linkedin" href=""><img src="/images/linkeding.svg" /></a>
      </div>
    </div>
  </div>
</section>
